.header__picture {
  width: calc(var(--sidebar-size) - 0.5in);
  height: calc(var(--sidebar-size) - 0.5in);
  z-index: 1;
  border-radius: 0.125in;
}

.header__content {
  display: flex;
  flex-direction: column;
}

.header__content h1 {
  font-family: Lora;
  text-transform: uppercase;
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 8px;
  color: var(--color-deep);
}

.header__content h2 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  color: var(--color-dark);
}

.header__content p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--color-grey);
  margin-bottom: 8px;
}

.header__content--contact {
  margin: 0;
  margin-top: auto;

  display: flex;
  justify-content: space-between;
}

.header__content--contact li {
  display: flex;
  align-items: center;
  color: var(--color-smoke);
}

.header__content--contact li b {
  font-size: 11px;
  color: inherit;
}
