.header__picture {
  width: calc(var(--sidebar-size));
  height: calc(var(--sidebar-size));
  z-index: 1;
  border-radius: 50%;
  border: 5px solid var(--color-dark);
  box-sizing: border-box;
}

.header__content {
  display: flex;
  flex-direction: column;
}

.header__content h1 {
  font-size: 35px;
  line-height: 38px;
  margin-bottom: 8px;
  color: var(--color-deep);
}

.header__content h2 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  color: var(--color-dark);
}

.header__content p {
  font-size: 12px;
  line-height: 14px;
  color: var(--color-grey);
  margin-bottom: 8px;
}

.header__content--contact {
  margin: 0;
  margin-top: auto;

  display: flex;
  justify-content: space-between;
}

.header__content--contact li {
  display: flex;
  align-items: center;
}

.header__content--contact li b {
  font-size: 11px;
}
