.skills h3 {
  color: var(--color-bright);
}

.skills__list {
  list-style: disc;
  padding-inline-start: 16px;
  margin-bottom: 20px;
}

.skills__list li {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-light);
}
