.skills h3 {
  color: var(--color-bright);
}

.skills__list {
  list-style: disc;
  padding-inline-start: 16px;
  margin-bottom: 20px;
}

.skills__list li {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-light);
}

.interests__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  align-items: center;
  justify-items: center;
}

.interests__list li {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-light);
}

.interests__list li img {
  width: 16px;
  height: 16px;
}
