.skills h3 {
  color: var(--color-dark);
}

.skills__list {
  list-style: disc;
  padding-inline-start: 20px;
  margin-bottom: 20px;
}

.skills__list li {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey);
}
