.xp {
  position: relative;
}

.xp > h3 {
  color: var(--color-dark);
}

.xp > li {
  display: grid;
  grid-template-columns: var(--xp-logo-size) 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'logo header'
    'logo body'
    'skills tags';
  gap: 7.5px;
  box-sizing: border-box;
}

.xp > li:not(:last-child) {
  padding-bottom: 15px;
}

.xp__logo {
  grid-area: logo;

  width: var(--xp-logo-size);
  height: var(--xp-logo-size);
  /* border-radius: 10px; */
}

.xp__header--title {
  font-weight: 700;
  color: var(--color-dark);
  font-size: 14px;
  margin-bottom: 4px;
}

.xp__header--date {
  font-weight: light;
  color: var(--color-light);
  font-size: 12px;
}

.xp__header--position {
  font-size: 14px;
  font-weight: 600;
}

.xp__body {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--color-grey);
}

.cv__skills {
  grid-area: skills;
}

.cv__tag--list {
  grid-area: tags;
}
