.cv__wrapper {
  position: relative;

  width: 210mm;
  height: 297mm;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--color-bright);
}

.cv__border {
  position: absolute;
  width: 33%;
  height: 100%;
  background-color: var(--color-dark);
  top: 0;
  right: 0;
}

.cv__page {
  position: relative;

  width: calc(100% - 1in);
  height: calc(100% - 1in);
  box-sizing: border-box;
  margin: 0.5in;

  display: grid;
  grid-template-columns: var(--sidebar-size) 1fr;
  gap: 0.25in;
}

.cv__page aside {
  display: grid;
  grid-template-rows: var(--sidebar-size) auto;
  gap: 0.25in;
}

.cv__page main {
  grid-template-rows: calc(var(--sidebar-size) - 0.25in) auto auto;
  display: grid;
  gap: 0.25in;
  background-color: var(--color-bright);
  padding: 0.25in;
  border-radius: 5px;
  box-shadow: 0 0 0.25in #0001;
}

.cv__mobile-overlay {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  background-color: var(--color-bright);
  box-sizing: border-box;
  padding: 0.25in;
}

.cv__mobile-overlay h1 {
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .cv__wrapper {
    display: none;
  }

  .cv__mobile-overlay {
    display: flex;
  }
}
